<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="applicable-device" content="mobile" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<title>万一传媒</title>
		<link href="__CSS__/public.css" rel="stylesheet" type="text/css" />
		<link href="__LIB__/css/frozen.css" rel="stylesheet" type="text/css">
		<link href="__CSS__/baoliao.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="__WAP__/swiper/swiper-3.4.0.min.css">
		<script src="__JS__/jquery-1.8.3.min.js"></script>
		<script>
			$(window).load(function() {
				$("#status").fadeOut();
				$("#preloader").delay(350).fadeOut("slow");
			})
		</script>
	</head>

	<body>
		<div class="mobile">
			<!--页面加载 开始-->
			<div id="preloader">
				<div id="status">
					<p class="center-text"><span>拼命加载中···</span></p>
				</div>
			</div>
			<!--页面加载 结束-->
			<!--header 开始-->
			<header>
				<div class="header">
					<a class="new-a-back" href="{:url('show',array('id'=>$model.cate_id))}"><span><img src="__IMG__/iconfont-fanhui.png"></span></a>
					<h2>{$cate.name} - {$model.title}</h2>
				</div>
			</header>
			<!--header 结束-->
			<div class="view w">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						{foreach name="model.photos" id="vo"}
						<div class="swiper-slide">
							<img src="{$vo}" /></div>
						{/foreach}
					</div>
				</div>
				<div class="bl_view_title">姓名：{$model.title}</div>
				<div class="bl_view_note">编号：{$model.number}</div>
				<div class="bl_view_tag">
					<div class="bl_view_price">出场费：￥{$model.money}</div>
				</div>
				<div class="bl_view_tag">
					<div class="bl_view_user">Ta的点赞：<span id="praise">{$model.praise}</span></div>
					<div class="bl_view_time">Ta的人气：{$model.clicks}</div>
				</div>
				<div class="go_buy">
					<a href="#" onclick="zan('{$model.id}')">给Ta点赞</a>
				</div>
				<div class="bl_dangqi">
					<h1>本月档期 (红色为已占用时间)</h1> {for start="1" end="32"} {if in_array($i, $model.dangqis)}
					<span class="on">{$i}</span> {else/}<span>{$i}</span> {/if} {/for}
				</div>
			</div>
			<div class="bl_view_content w">
				<h1>详细资料</h1>
				<div class="bl_view_word">
					{$model.content|html_entity_decode}
				</div>
			</div>
			<div class="bl_pinlun w">
				<input id="name" type="text" placeholder="请输入姓名" value="" class="pinlun_input2">
				<input id="message" type="text" placeholder="请输入评论内容" value="" class="pinlun_input">
				<input onclick="reply('{$model.id}')" type="button" class="pinlun_submit" value="发表评论">
			</div>
			<div class="bl_comment w">
				<h1>大伙的评价</h1>
				<div class="comment_list">
					<ul id="reply-ul">
						{foreach name="replys" id="reply"}
						<li>
							<div class="pl_user_img">
								{if $reply.thumb}<img src="{$reply.thumb}" /> {else/}
								<img src="__IMG__/user_logo.jpg" /> {/if}
							</div>
							<div class="pl_user_top">
								<div class="pl_user_name">{$reply.name}</div>
								<div class="pl_user_time">{$reply.add_time}</div>
							</div>
							<div class="pl_user_comment">{$reply.message}</div>
						</li>
						{/foreach}
					</ul>
				</div>
			</div>
			<div class="copyright">Copyright © 2017-2018 版权所有</div>
		</div>
		<script type="text/javascript" src="__WAP__/layer_mobile/layer.js"></script>
		<script type="text/javascript" src="__WAP__/swiper/swiper-3.4.0.jquery.min.js"></script>
		<script>
			var mySwiper = new Swiper('.swiper-container', {
				autoplay: 3000, //可选选项，自动滑动
			})

			function zan(id) {
				$.ajax({
					type: "post",
					url: "{:url('zan')}",
					data: {
						id: id
					},
					success: function(data) {
						layer.open({
							content: data.msg,
							skin: 'msg',
							time: 2 //2秒后自动关闭
						});
						if(data.code == 1) {
							// 数量+1
							var num = parseInt($("#praise").html());
							$("#praise").html(++num);
						}
					}
				});
			}

			function reply(id) {
				var name = $.trim($("#name").val());
				if(name == '') {
					layer.open({
						content: '请输入姓名',
						skin: 'msg',
						time: 2 //2秒后自动关闭
					});
					$("#name").focus();
					return;
				}
				var message = $.trim($("#message").val());
				if(message == '') {
					layer.open({
						content: '请输入评论内容',
						skin: 'msg',
						time: 2 //2秒后自动关闭
					});
					$("#message").focus();
					return;
				}
				$.ajax({
					type: "post",
					url: "{:url('reply')}",
					data: {
						aid: id,
						name: name,
						message: message
					},
					success: function(json) {
						layer.open({
							content: json.msg,
							skin: 'msg',
							time: 2 //2秒后自动关闭
						});
						if(json.code == 1) {
							// 清空input
							$("#name").val('');
							$("#message").val('');
							// 刷新评论
							//							var div = '<li><div class="pl_user_img"><img src="__IMG__/user_logo.jpg" /></div>' +
							//								'<div class="pl_user_top"><div class="pl_user_name">' + json.data.name + '</div>' +
							//								'<div class="pl_user_time">' + json.data.add_time + '</div></div>' +
							//								'<div class="pl_user_comment">' + json.data.message + '</div></li>';
							//							var htmls = $("#reply-ul").html();
							//							$("#reply-ul").html(div + htmls);
						}
					}
				});
			}
		</script>
	</body>

</html>