{extend name="base" /} {block name="body"}
<!--Header:End-->
<!--Content:Start-->
<div class="topadcs" style="background: url('/skin/images/casebanner.jpg') no-repeat scroll center;
        height:300px"> </div>
<div class="content">
	<div class="left">
		<div class="cpMu">
			<h4>成功案例</h4>
			<div class='cpMuCont'>
				<ul>

					<li sid='0001,0011'>
						<a href='/a/chenggonganli/zhonggong_jungongxingyekongyajianl/'>重工、军工行业空压机案例</a>
					</li>

					<li sid='0001,0011'>
						<a href='/a/chenggonganli/jixiezhizaokongyajianli/'>机械制造空压机案例</a>
					</li>

					<li sid='0001,0011'>
						<a href='/a/chenggonganli/shipinxingyeluogankongyajianli/'>食品行业螺杆空压机案例</a>
					</li>

					<li sid='0001,0011'>
						<a href='/a/chenggonganli/qinggongxingyekongyajianli/'>轻工行业空压机案例</a>
					</li>

					<li sid='0001,0011'>
						<a href='/a/chenggonganli/leqixingyekongyajianli/'>乐器行业空压机案例</a>
					</li>

					<li sid='0001,0011'>
						<a href='/a/chenggonganli/jiajuxingyekongyajianli/'>家具行业空压机案例</a>
					</li>

					<li sid='0001,0011'>
						<a href='/a/chenggonganli/nabupenshaxingyekongyajianli/'>内部喷砂行业空压机案例</a>
					</li>

					<li sid='0001,0011'>
						<a href='/a/chenggonganli/jiaotongyunshuxingyekongyajianli/'>交通运输行业空压机案例</a>
					</li>

					<li sid='0001,0011'>
						<a href='/a/chenggonganli/hangtianhangkongxingyekongyajianli/'>航天航空行业空压机案例</a>
					</li>

					<li sid='0001,0011'>
						<a href='/a/chenggonganli/jianshenqicaikongyajianli/'>健身器材空压机案例</a>
					</li>

				</ul>
				<p>您只需一个电话我们将提供最合适的产品，让您花最少的钱，达到最好的效果</p>
				<dl class="mu_phone">
					<dt>全国统一服务热线</dt>
					<dd>400-900-8899</dd>
				</dl>
			</div>
		</div>
		<h4 class="t05"> 相关资讯</h4>
		<div class="t05_cons1">
			<ul>
				<li>
					<a href="/a/zixunzhongxin/xingyedongtai/72.html" target="_blank" title="科技创新，以质取胜"> 科技创新，以质取胜</a>
				</li>
				<li>
					<a href="/a/zixunzhongxin/xingyedongtai/76.html" target="_blank" title="怎样选择更好的空压机"> 怎样选择更好的空压机</a>
				</li>
				<li>
					<a href="/a/zixunzhongxin/xingyedongtai/75.html" target="_blank" title="中国空气压缩机市场分析"> 中国空气压缩机市场分析</a>
				</li>
				<li>
					<a href="/a/zixunzhongxin/xingyedongtai/74.html" target="_blank" title="015中国空压机行业十大品"> 015中国空压机行业十大品</a>
				</li>
				<li>
					<a href="/a/zixunzhongxin/xingyedongtai/73.html" target="_blank" title="青岛螺杆空压机哪家好?"> 青岛螺杆空压机哪家好?</a>
				</li>
				<li>
					<a href="/a/zixunzhongxin/xingyedongtai/71.html" target="_blank" title="空压机定期保养的重要性"> 空压机定期保养的重要性</a>
				</li>
				<li>
					<a href="/a/zixunzhongxin/gongsidongtai/37.html" target="_blank" title="智能与节能并存"> 智能与节能并存</a>
				</li>
				<li>
					<a href="/a/zixunzhongxin/gongsidongtai/43.html" target="_blank" title="节能效果又获客户芳心!"> 节能效果又获客户芳心!</a>
				</li>
				<li>
					<a href="/a/zixunzhongxin/gongsidongtai/42.html" target="_blank" title="永磁变频空压机——绿色"> 永磁变频空压机——绿色</a>
				</li>
				<li>
					<a href="/a/zixunzhongxin/gongsidongtai/41.html" target="_blank" title="选择比努力更重要！"> 选择比努力更重要！</a>
				</li>

			</ul>
		</div>
		<div class="contactn mt10 mb10 mb10">
			<div class="t05">
				<h4> <a class="yan2" href="/a/guanyuwomen/lianxiwomen/">联系我们</a></h4>
			</div>
			<div class="subnr"> <img src="/skin/images/catactus.jpg">
				<p> <span style="font-size: 12px;">咨询热线：</span></p>
				<p style="font-size: 20px; color: #546a85;"> 400-900-8899</p>
				<p> <span>固话：</span>
					<font style="font-size: 18px; ">0898-66889888</font>
				</p>
				<p> <span>邮箱：</span>326598869@qq.com </p>
				<span>地址：</span>海口市港澳开发区D区100厂房
				<p></p>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		helpSelectCurrentPosition("0001,0013");
	</script>
	<div class="right">
		<div class="pro_curmbs"><span>当前位置：</span>
			<a href='/'>主页</a> >
			<a href=''>成功案例</a> > </div>
		<div class="righttop"> </div>
		<div class="right_main">
			<div class="agent_con">
				{foreach name="list" item="ad"}
				<dl class="dl_42">
					<dt><a href="/a/chenggonganli/hangtianhangkongxingyekongyajianli/9.html" target="_blank"> <img  src="{$ad.thumb}" alt="" /></a></dt>
					<dd>
						<h4> <a href="/a/chenggonganli/hangtianhangkongxingyekongyajianli/9.html" target="_blank"> {$ad.title}</a></h4>{$ad.content|html_entity_decode|strip_tags|msubstr=0,60}...
					</dd>
				</dl>
				{/foreach}
				<div class="clear"></div>

				<!--OranPager:start
Developed By Oran Day(oransite#gmail.com)
Version:1.1.0.9
Aug. 28, 2009
All rights reserved.-->
					{$list->render()}
				<!--OranPager:end-->

			</div>
		</div>
		<div class="rightbot"> </div>
		<div class="RandomNews mb10">
			<h4 class="diysr"> 新款产品</h4>
			<div class="news_random">
				<dl class="product_dl_commend">
					<dt><a href="/a/chanpinzhongxin/kongqikongyasuoji/67.html" target="_blank" title="组合一体空压机HPA系列"> <img src="/uploads/allimg/150901/1-150Z1111P70-L.jpg" alt="组合一体空压机HPA系列" /></a></dt>
					<dd>
						<a href="/a/chanpinzhongxin/kongqikongyasuoji/67.html" target="_blank" title="组合一体空压机HPA系列"> 组合一体空压机HPA系列</a>
					</dd>
				</dl>
				<dl class="product_dl_commend">
					<dt><a href="/a/chanpinzhongxin/kongqikongyasuoji/66.html" target="_blank" title="高端GHH机头HPR系列"> <img src="/uploads/allimg/150901/1-150Z1111J20-L.jpg" alt="高端GHH机头HPR系列" /></a></dt>
					<dd>
						<a href="/a/chanpinzhongxin/kongqikongyasuoji/66.html" target="_blank" title="高端GHH机头HPR系列"> 高端GHH机头HPR系列</a>
					</dd>
				</dl>
				<dl class="product_dl_commend">
					<dt><a href="/a/chanpinzhongxin/jinkoukongyaji/65.html" target="_blank" title="HPV永磁变频系列"> <img src="/uploads/allimg/150901/1-150Z1111F20-L.jpg" alt="HPV永磁变频系列" /></a></dt>
					<dd>
						<a href="/a/chanpinzhongxin/jinkoukongyaji/65.html" target="_blank" title="HPV永磁变频系列"> HPV永磁变频系列</a>
					</dd>
				</dl>
				<dl class="product_dl_commend">
					<dt><a href="/a/chanpinzhongxin/jinkoukongyaji/64.html" target="_blank" title="MPV永磁变频系列"> <img src="/uploads/allimg/150901/1-150Z11116330-L.jpg" alt="MPV永磁变频系列" /></a></dt>
					<dd>
						<a href="/a/chanpinzhongxin/jinkoukongyaji/64.html" target="_blank" title="MPV永磁变频系列"> MPV永磁变频系列</a>
					</dd>
				</dl>

				<div class="clear"> </div>
			</div>
		</div>
		<div class="clear"> </div>
	</div>
	<div class="clear"> </div>
</div>

{/block}