{extend name="base" /} {block name="body"}
<div class="layui-body">
	<!--tab标签-->
	<div class="layui-tab layui-tab-brief">
		<ul class="layui-tab-title">
			<li class="layui-this">
				<a href="">关于我们</a>
			</li>
		</ul>
		<div class="layui-tab-content">
			<div class="layui-tab-item layui-show">
				<form class="layui-form form-container" action="{:url('admin/system/about')}" method="post">
				
					<div class="layui-form-item">
						<label class="layui-form-label">内容</label>
						<div class="layui-input-block">
							<textarea style="width: 1000px;height: 600px;" id="content" name="content" class="layui-textarea" lay-verify="content">{$content['value']}</textarea>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-input-block">
							<button class="layui-btn" lay-submit lay-filter="*">保存</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{/block} {block name="js"}
<script src="__JS__/kindeditor/kindeditor.config.js"></script>
<script src="__JS__/kindeditor/kindeditor-all-min.js"></script>
{/block} {block name="script"}
<script>
	$(document).ready(function() {
		var _kindEditor;
		KindEditor.ready(function(K) {
			_kindEditor = K.create('#content', KindEditorOptions);
			K('#upload-photo-btn').click(function() {
				var photo_list_item = '';
				_kindEditor.loadPlugin('multiimage', function() {
					_kindEditor.plugin.multiImageDialog({
						showRemote: false,
						imageUrl: K('#photo').val(),
						clickFn: function(data) {
							$.each(data, function(index, item) {
								photo_list_item += '<div class="photo-list"><img src="' + item.url +
									'" class="photo-see" /><input type="text" name="photo[' + item.url + ']" style="display:none;">';
								photo_list_item += '<button class="layui-btn layui-btn-danger remove-photo-btn">移除</button></div>';
							});
							$('#photo-container').append(photo_list_item);
							_kindEditor.hideDialog();
						}
					});
				});
			});
		});

		$('#photo-container').on('click', '.remove-photo-btn', function() {
			$(this).parent('.photo-list').remove();
		});
	});
</script>
{/block}