<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="applicable-device" content="mobile" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<title>万一传媒</title>
		<link href="__CSS__/public.css" rel="stylesheet" type="text/css" />
		<link href="__CSS__/baoliao.css" rel="stylesheet" type="text/css">

		<script src="__JS__/jquery-1.8.3.min.js"></script>
	</head>

	<body>
		<div class="mobile">
			<!--header 开始-->
			<header>
				<div class="header">
					<h2>活动</h2>
				</div>
			</header>
			<!--header 结束-->
			<div class="cate">
				{foreach name='list' item='vo'}
				<div style=" padding: 5px 10px">
					<div class="banner">
						<a href="{:url('act/detail',array('id'=>$vo.id))}"><img src="{$vo.thumb}" /></a>
					</div>
					<div class="u-title">{$vo.title}</div>
					<div style="margin-top: 5px;"><img src="__IMG__/eye.png"/>{$vo.clicks}&nbsp;&nbsp;<img src="__IMG__/zan.png"/>{$vo.praise}</div>
				</div>
				{/foreach}
			</div>
			<div class="copyright">Copyright © 2017-2018 版权所有</div>
		</div>
	</body>

</html>